* {
  box-sizing: border-box;
}


body
    {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
    url("./assets/svg/background.jpg");
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    }


.navbar-brand > .top {
  font-weight: 800;
  font-size: 45px;
}


.nav-bar{
  justify-content:flex-end !important;
}
.navbar-brand > .bottom {
  font-size: 15px;
  vertical-align: top;
}

.wallet-btn {
  color: #fff !important;
  width: 252px !important;
  border: 1.5px solid rgba(255, 255, 255, 0.02)  !important;
  box-sizing: border-box  !important;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.15))  !important;
  border-radius: 16px !important;
  height: 51.69px !important;
  font-family: 'Titillium Web';
  font-weight: 900 !important;
  font-size: 24px !important;
  background: rgba(255, 255, 255, 0.02);
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
}

.walletCon-btn {
  color: #fff !important;
  width: 380px !important;
  border-radius: 0% !important;
  height: 51.69px;
}

.text-mint {
  text-align: center;
  font-weight: 600 !important;
  font-size: 25px !important;
}

input {
  height: 50px;
  width: 280px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
}
.label-item{
  color:white;
  font-family: 'Titillium Web';
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 46px;
padding-left:13px;
padding-right:13px;
}


.title {
  font-size: 19px !important;
  font-weight: 600 !important;
}


.coin {
  width: 400px !important;
}

@media screen and (max-width: 600px) {
  .avatar {
    width: 400px;
  }

  .phase {
    width: 350px;
    margin-top: -4px !important;
  }
}

.dynaSvg {
  margin-top: -80px;
  margin-left: -31px;
  width: 61px;
}

.description {
  padding-left: 100px !important;
  padding-right: 100px !important;
  text-align: center;
}

@media screen and (max-width: 1028px) {
  .description {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .header{
    display:none;
  }

  .button-clear {
    width: 165px !important;
  }
.button-not-clicked {
  width: 165px !important;
}
  .slider {
    height:12px !important;
    width: 212px !important;
  }


.label-item{
  font-size: 18px;
}
    

body{

  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)),
  url("./assets/svg/background-2.jpg");
  background-size: cover;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
}


  .avatar {
    width: 130%;
  }

  .phase {
    width: 170px;
  }

  .description {
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: left;
  }
}

@media screen and (max-width: 520px) {
  .avatar {
    width: 140%;
  }

  .phase {
    width: 170px;
  }
}

@media screen and (max-width: 432px) {
  .avatar {
    width: 140% !important;
  }

  .phase {
    width: 120px;
  }

  .text-mint {
    font-size: 19px !important;
  }
}

@media screen and (max-width: 326px) {
  .avatar {
    width: 60px;
  }
}

a {
  text-decoration: none !important;
  color: black !important;
  font-weight: 600;
  font-size: 20px;
  color: white !important;
  font-family: 'Titillium Web';
  font-weight: 400;

}

li {
  margin: auto !important ;
}

.active {
  color: #fff !important;
}

.mr-4 {
  margin-right: 20px !important;
}

.m-b-3 {
  margin-bottom: 12px !important;
}

.divide {
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 24px;
  font-weight: 700;
}

.social {
  max-width: 300px !important;
}
@media screen and (min-width: 990px) {
  .m-logo {
    padding-left: 120px !important;
    padding-right: 120px !important;
  }
}

@media screen and (max-width: 990px) {
  .m-logo {
    margin: auto !important;
  }
  .navbar-brand {
    margin: auto !important;
  }
}

.mt-10 {
  margin-top: 15vh;
}



.bottom-line {
  margin-top: 20px !important;
  border: solid 3px #000 !important;
  width: 200px !important;
  justify-content: center !important;
  background: #000 !important;
  border-radius: 5px !important;
  align-items: center !important;
}

.nav-item:not(:last-child) {
  margin: 5px !important;
  margin-top: 8px !important;
  text-align: center;
}
button{ cursor:pointer;}

.button-clear {
  background: #4a3959;
  border: 1.5px solid rgba(255, 255, 255, 0.55);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  width: 226px ;
  margin: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
  border-radius: 16px;  font-family: 'Titillium Web';
  font-weight: 900 !important;
  font-size:30px;
}

.button-not-clicked{
  background: rgba(255, 255, 255, 0.02);
  cursor:pointer;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;  font-family: 'Titillium Web';
  font-weight: 900 !important;
  font-size:30px;
  
  margin: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white;
width: 226px ;

}



.button-flip {
  min-width: 338px !important;
  max-width: 472px !important;
  color: white;
  background: #4a3959;
  border: 1.5px solid rgba(255, 255, 255, 0.55);
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  border-radius: 16px;
  padding-top: 18px;
  border-radius: 16px;  font-family: 'Titillium Web';
  font-weight: 900 !important;
  font-size:30px;
  padding-bottom: 18px;
  
}
.nav-item {
  color: white !important;
}

.slider {
  background: #4a3959;
  border-radius: 24px;
  width: 280px;
}

input[type="range"] {
  height: 30px;
  -webkit-appearance: none;
  margin: 10px 0;

}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #4a3959;
  background: #4a3959;
  border-radius: 1px;
  border: 1px solid #4a3959;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 1px solid #e5e5e5;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4a3959;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;

  box-shadow: 1px 1px 1px #4a3959;
  background: #4a3959;
  border-radius: 1px;
  border: 1px solid #4a3959;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #ffffff;
  border: 1px solid #e5e5e5;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #4a3959;
  border: 1px solid #4a3959;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #4a3959;
}
input[type="range"]::-ms-fill-upper {
  background: #4a3959;
  border: 1px solid #4a3959;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #4a3959;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #ffffff;
  border: 1px solid #e5e5e5;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #4a3959;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #4a3959;
}


.wip-data{
  text-align:center;
  color:white;
}

.header-container{
  background: rgba(21, 21, 21, 0.1);
}

#collapsibleNavbar > div > ul > li:nth-child(3){

  padding-right: 46px;
}


.realtime-info{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #FFFFFF;
}